Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  clang-analyzer-*,
  -bugprone-exception-escape,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix
WarningsAsErrors: ''
HeaderFilterRegex: '(include|src)/'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
